<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="FootLocker Automation Suite">
    <test name="Store Locator Tests">
        <classes>
            <class name="com.fl.automation.tests.TS001_TC001_TestCase_SCRUM15408_TS001_TC001"/>
        </classes>
    </test>
</suite>
