<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FootLocker FindAStore Suite" parallel="tests" thread-count="4">
    <test name="FindAStore Tests">
        <classes>
            <class name="com.fl.automation.tests.TS001_TC001_TestCaseSCRUM15408TS001TC001"/>
            <class name="com.fl.automation.tests.TS002_TC001_TestCaseSCRUM15408TS002TC001"/>
            <class name="com.fl.automation.tests.TS003_TC001_TestCaseSCRUM15408TS003TC001"/>
            <class name="com.fl.automation.tests.TS004_TC001_TestCaseSCRUM15408TS004TC001"/>
            <class name="com.fl.automation.tests.TS005_TC001_TestCaseSCRUM15408TS005TC001"/>
            <class name="com.fl.automation.tests.TS006_TC001_TestCaseSCRUM15408TS006TC001"/>
            <class name="com.fl.automation.tests.TS007_TC001_TestCaseSCRUM15408TS007TC001"/>
            <class name="com.fl.automation.tests.TS008_TC001_TestCaseSCRUM15408TS008TC001"/>
            <class name="com.fl.automation.tests.TS009_TC001_TestCaseSCRUM15408TS009TC001"/>
            <class name="com.fl.automation.tests.TS010_TC001_TestCaseSCRUM15408TS010TC001"/>
        </classes>
    </test>
</suite>
